/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$reach-orange: #ffa73d;
// Background colors:
$top-bar-bkg:  #007FFF;
// special colors
//$cf7-success-color: #000;
//$cf7-success-background: #57f14e;
//$top-cta-bkg: #4e72b0;
//$bottom-cta-bkg: rgba(78,114,176,0.22);

$bam-lighter-blue: #4985FF;
$bam-light-blue: #c1d1e2;
$bam-light-lime: #ddefbf;
/* ----------- end Colors ----------- */
